body{
  color:$primary;
   background: linear-gradient(180deg, #181236 0%, #212C50 100%);
  font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

